<section class="header-nav">
    <div class="container header-nav__container">
        <div class="burget-mob burget-menu-js">
            <span></span>
        </div>

        <div class="header-nav__main-wrap">
            <div class="logo header-nav__logo">
                <a href="/"><img src="img/logo.svg" alt=""></a>
            </div>
            <nav class="menu header-nav__menu main-menu-js">
                <div class="close-menu-mob close-menu-js">
                    <span></span>
                </div>
                <a href="/" class="logo-mob">
                    <img src="img/logo-wight.svg" alt="">
                </a>
                <ul class="no-list" itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <li><a itemprop="url" href="#">СБО Далос</a></li>
                    <li><a itemprop="url" href="#">СБО Колос</a></li>
                    <li><a itemprop="url" href="#">Септики</a></li>
                    <li><a itemprop="url" href="#">Дилеры</a></li>
                    <li><a itemprop="url" href="#">Контакты</a></li>
                </ul>
                <div class="menu-footer">
                    <div class="cont-mob">
                        <div class="contacts__item">
                            <div class="contacts__name">
                                <div class="contacts__icon"><img src="img/icon/phone.svg" alt=""></div>
                                <div class="contacts__title">Позвонить</div>
                            </div>
                            <div class="contacts__content">
                                <a href="tel:+78122009543">+7 812 200 95 43</a>
                            </div>
                        </div>
                        <div class="contacts__item">
                            <div class="contacts__name">
                                <div class="contacts__icon"><img src="img/icon/mail.svg" alt=""></div>
                                <div class="contacts__title">Написать письмо</div>
                            </div>
                            <div class="contacts__content">
                                <a href="mail:info@dalosplast.ru">info@dalosplast.ru</a>
                            </div>
                        </div>
                    </div>
                    <div class="social menu-footer__social">
                        <a href="">
                            <img src="img/icon/vk-w.svg" alt="">
                        </a>
                        <a href="">
                            <img src="img/icon/youtube-w.svg" alt="">
                        </a>
                    </div>
                </div>
            </nav>
            <div class="social header-nav-social">
                <a href=""><img src="img/icon/vk.svg" alt=""></a>
                <a href=""><img src="img/icon/youtube.svg" alt=""></a>
            </div>
        </div>
        <div class="contacts header-nav__contacts">
            <div class="contacts__item">
                <div class="contacts__name">
                    <div class="contacts__icon"><img src="img/icon/mail.svg" alt=""></div>
                    <div class="contacts__title">Написать письмо</div>
                </div>
                <div class="contacts__content">
                    <a href="mail:info@dalosplast.ru">info@dalosplast.ru</a>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts__name">
                    <div class="contacts__icon"><img src="img/icon/phone.svg" alt=""></div>
                    <div class="contacts__title">Позвонить</div>
                </div>
                <div class="contacts__content">
                    <a href="tel:+78122009543">+7 812 200 95 43</a>
                </div>
            </div>
        </div>
        
        <div class="contacts-mob">
            <a href="tel:+78122009543"><img src="img/icon/phone-m.svg" alt=""></a>
            <a href="mail:info@dalosplast.ru"><img src="img/icon/mail-m.svg" alt=""></a>
            
        </div>
    </div>
</section>