<section class="diller">
    <div class="container">
        <div class="diller__siti diller__main-siti">Санкт-Петербург</div>
        <div class="diller__wrap">
            <div class="diller__item diller-item">
                <div class="diller-item__img">
                        <img src="img/diller/img-1.jpg" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">septic78.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">196158, Санкт-Петербург,
                         Московское шоссе, д.25, к.1, БЦ «Престиж»</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (812) 413-92-98
                            </div>
                    </div>
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+8 (800) 200-68-57</div>
                    </div>
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller-item__img">
                        <img src="img/diller/img-2.jpg" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">vozduhvoda.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">196158, Санкт-Петербург,
                        Московское шоссе, д.25, к.1, БЦ «Престиж»</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (812) 416-96-17</div>
                    </div>
                    
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller-item__img">
                        <img src="img/diller/img-3.jpg" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">pvkshop.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">197136, Санкт-Петербург,
                        ул. Ленина 19, кв.4</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (812) 992-03-55
                            </div>
                    </div>
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (812) 715-08-91</div>
                    </div>
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller-item__img">
                        <img src="img/diller/img-4.jpg" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">septik-pro.com</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">196247, Санкт-Петербург,
                        Ленинский проспект, 153, лит. А, офис 809</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7(812) 407-18-01</div>
                    </div>
                    
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller-item__img">
                        <img src="img/diller/img-5.jpg" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">septic-system.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">193315, Санкт-Петербург,
                        ул. Новосёлов, 49</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (812) 950-96-06
                            
                            </div>
                    </div>
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (951) 643-72-83</div>
                    </div>
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller-item__img">
                        <img src="img/diller/img-6.jpg" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">kolodcov.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">195220, Санкт-Петербург, пр. Науки, д. 21,
                        М. Академическая, ТРЦ «Торговый Двор»</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (812) 660-55-39</div>
                    </div>
                    
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller-item__img">
                        <img src="img/diller/img-7.jpg" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">usadba-shop.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">196084, Санкт-Петербург,
                        Проспект Елизарова, д. 34/2, Офис №208/3</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (812) 467-31-13
                            
                            </div>
                    </div>
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (921) 922-39-99</div>
                    </div>
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller-item__img">
                        <img src="img/diller/img-8.jpg" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">bioseptikspb.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">196650, Санкт-Петербург, Колпино,
                        Финляндская улица, 24Б; БЦ «Северина», оф. 254</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (812) 603-87-38</div>
                    </div>
                    
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller-item__img">
                        <img src="img/diller/img-9.jpg" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">kupiseptic.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">Санкт-Петербург,
                        Лесной проспект. 37 корпус 1</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (950) 000 28 58
                            
                            </div>
                    </div>
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (981) 747 35 71</div>
                    </div>
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller-item__img">
                        <img src="img/diller/img-10.jpg" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">дачныйкомфорт.рф</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">Г. Красное Село, улица Свободы д.50,
                        литер В, офис 210Б</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (905) 285 78 87</div>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="diller__wrap diller__mini-wrap">
            <div class="diller__item diller-item">
                <div class="diller__siti">Республика Крым</div>
                <div class="diller-item__img">
                        <img src="img/diller/img-11.png" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">ecodom82.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">Крым г. Симферополь, 
                        ул. Автомобилистов, 2</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (978) 599-88-66
                            </div>
                    </div>

                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller__siti">Гатчина</div>
                <div class="diller-item__img">
                        <img src="img/diller/img-12.png" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">biodrop.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">188301, Гатчина,
                        ул. 120 Гатчинской дивизии, д. 1
                        лит А, офис 377</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (921) 924-01-93
                            </div>
                    </div>
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (812) 956-84-89</div>
                    </div>
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller__siti">Мурманск</div>
                <div class="diller-item__img">
                        <img src="img/diller/img-13.png" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">septik-dalos51.ru</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">183032, Мурманск,
                        ул. Полярный круг, 2</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (921) 031-80-13
                            </div>
                    </div>
                </div>
            </div>
            <div class="diller__item diller-item">
                <div class="diller__siti">Москва и МО</div>
                <div class="diller-item__img">
                        <img src="img/diller/img-14.png" alt="">
                </div>
                <div class="diller-item__site diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/site.svg" alt=""></div>
                    <div class="diller-item__content">petrostroy.biz</div>
                </div>
                <div class="diller-item__dress diller-item__elem">
                    <div class="diller-item__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="diller-item__content">143985, Балашиха,
                        ул. Автозаводская, д. 50А, 4-й эт., офис 28</div>
                </div>
                <div class="diller-item__phone ">
                    <div class="diller-item__phone-item diller-item__elem">
                        <div class="diller-item__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                        <div class="diller-item__content">+7 (495) 150-00-63</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>