<section class="about">
    <div class="container about__container">
        <div class="about__prevue">
            <h2 class="about__title">Обращение генерального директора</h2>
            <div class="about__images">
                <img class="about__img" src="img/autor.jpg" alt="">
                <img class="about__img-mob" src="img/about-mob.jpg" alt="">
                <div class="about__decor">
                    <img src="img/decor/dec-10.svg" alt="">
                </div>
            </div>
        </div>
        <div class="about__content">
            <div class="about__content-decor">
                <span></span>
            </div>
            <img src="img/cit.svg" alt="" class="about__content-cit">
            <div class="about__content-title">Уважаемые партнеры!</div>
            <div class="about__content-text">
                <p>Предлагаю вам более детально ознакомиться с деятельностью компании «ДАЛОС»! В этом письме я расскажу вам о том, кто мы, чем занимаемся и чем можем быть вам полезны.</p>
                <p>На сегодняшний момент мы уже более 8 лет работаем на рынке очистных сооружений. Основной вид деятельности компании – производство локальных очистных сооружений (ЛОС), а также поставка оборудования для них на промышленные объекты, в том числе государственного значения.</p>
                <p>На данный момент мы являемся экспертами в этой нише и точно знаем, как важны качество и надежность в производстве очистной продукции.</p>
                <p>Более того, мы понимаем, с какими проблемами вы сталкиваетесь при выборе такого достаточно дорогого и сложного продукта, как система автономной канализации. И знаем, какие вопросы вас беспокоят в первую очередь.</p>
                <p>Именно поэтому, наши специалисты не только расскажут обо всех нюансах продукции и помогут подобобрать оптимальную модель, но и уберегут от ошибок, которые могут помешать вам или вашим близким получать удовольствие от проживания в загородном доме.</p>
            </div>
            <div class="about__content-footer">
                <div class="about__content-coment">
                    Генеральный Директор<br>
                    ООО «ДАЛОС-ПЛАСТ»<br>
                    Дрозд Александр Валерьевич
                </div>
                <img class="about__content-dir" src="img/dir.svg" alt="">
            </div>
            <div class="about__content-btn"><img src="img/icon/arr-btn.svg" alt="" class="arr-btn"></div>
        </div>
    </div>
</section>