<section class="fag">
    <div class="container">
        <h2 class="fag__title main-title">Часто задавемые вопросы</h2>
        <div class="fag__wrap-items" itemscope itemtype="https://schema.org/FAQPage">
            <div class="fag__item fag-item-js">
                <div class="fag__btn fag-btn-js" >
                    <span itemprop="name">Что значит установка под ключ ?</span>
                    <img src="img/icon/arrow.svg" alt="">
                </div>
                <div class="fag__content fag-content-js open">
                    <p>Септик под ключ в СПб и ЛО (Ленобласти) — это комплекс мероприятий, направленный на полное решение утилизации канализационных стоков. Алгоритм работ включает следующие этапы:</p>
                    <p>Выезд специалиста на участок для опроса владельцев и исследования грунта;</p>
                    <p>Проводятся расчеты и создается проект;</p>
                    <p>Подбор септика по производительности (в зависимости от количества проживающих и обилия бытовых приборов);</p>
                    <p>Проведение подготовительных и монтажных работ;</p>
                    <p>Испытание системы и сдача работы заказчику.</p>
                    <p>Цена септика и СБО формируется из нескольких основных факторов: вид, производительность модели, количество фитингов и дополнительных материалов, длина трубопровода, сложность монтажных работ</p>
                </div>
            </div>
            <div class="fag__item fag-item-js">
                <div class="fag__btn fag-btn-js">
                    <span itemprop="name">Что значит установка под ключ ?</span>
                    <img src="img/icon/arrow.svg" alt="">
                </div>
                <div class="fag__content fag-content-js">
                    <p>Септик под ключ в СПб и ЛО (Ленобласти) — это комплекс мероприятий, направленный на полное решение утилизации канализационных стоков. Алгоритм работ включает следующие этапы:</p>
                    <p>Выезд специалиста на участок для опроса владельцев и исследования грунта;</p>
                    <p>Проводятся расчеты и создается проект;</p>
                    <p>Подбор септика по производительности (в зависимости от количества проживающих и обилия бытовых приборов);</p>
                    <p>Проведение подготовительных и монтажных работ;</p>
                    <p>Испытание системы и сдача работы заказчику.</p>
                    <p>Цена септика и СБО формируется из нескольких основных факторов: вид, производительность модели, количество фитингов и дополнительных материалов, длина трубопровода, сложность монтажных работ</p>
                </div>
            </div>
            <div class="fag__item fag-item-js">
                <div class="fag__btn fag-btn-js" >
                    <span itemprop="name">Что значит установка под ключ ?</span>
                    <img src="img/icon/arrow.svg" alt="">
                </div>
                <div class="fag__content fag-content-js">
                    <p>Септик под ключ в СПб и ЛО (Ленобласти) — это комплекс мероприятий, направленный на полное решение утилизации канализационных стоков. Алгоритм работ включает следующие этапы:</p>
                    <p>Выезд специалиста на участок для опроса владельцев и исследования грунта;</p>
                    <p>Проводятся расчеты и создается проект;</p>
                    <p>Подбор септика по производительности (в зависимости от количества проживающих и обилия бытовых приборов);</p>
                    <p>Проведение подготовительных и монтажных работ;</p>
                    <p>Испытание системы и сдача работы заказчику.</p>
                    <p>Цена септика и СБО формируется из нескольких основных факторов: вид, производительность модели, количество фитингов и дополнительных материалов, длина трубопровода, сложность монтажных работ</p>
                </div>
            </div>
            <div class="fag__item fag-item-js">
                <div class="fag__btn fag-btn-js" >
                    <span itemprop="name">Что значит установка под ключ ?</span>
                    <img src="img/icon/arrow.svg" alt="">
                </div>
                <div class="fag__content fag-content-js">
                    <p>Септик под ключ в СПб и ЛО (Ленобласти) — это комплекс мероприятий, направленный на полное решение утилизации канализационных стоков. Алгоритм работ включает следующие этапы:</p>
                    <p>Выезд специалиста на участок для опроса владельцев и исследования грунта;</p>
                    <p>Проводятся расчеты и создается проект;</p>
                    <p>Подбор септика по производительности (в зависимости от количества проживающих и обилия бытовых приборов);</p>
                    <p>Проведение подготовительных и монтажных работ;</p>
                    <p>Испытание системы и сдача работы заказчику.</p>
                    <p>Цена септика и СБО формируется из нескольких основных факторов: вид, производительность модели, количество фитингов и дополнительных материалов, длина трубопровода, сложность монтажных работ</p>
                </div>
            </div>
        </div>
        
    </div>
</section>