<section class="product">
    <div class="container product__container">
        <div class="product__wrap" itemscope itemtype="http://schema.org/ItemList">
            <div class="product__elem product__elem--title">
                <img class="product__decor" src="img/decor/dec-5.svg" alt="">
                <h2 class="product__main-title">
                    Основные виды нашей продукции
                </h2>
            </div>
            <div class="product__elem">
                <div class="product__img"><img itemprop="image" src="img/product-1.jpg" alt=""></div>
                <div class="product__content">
                    <div class="product__title" itemprop="name">Септик био</div>
                    <meta itemprop="description" content="Качество очистки стоков 70% идеально подходит для сезонного проживания">
                    <div class="product__descr">Качество очистки стоков 70% идеально подходит для сезонного проживания</div>
                    <a href="#" itemprop="url" class="product__btm main-btn__min">подробнее</a>
                </div>
            </div>
            <div class="product__elem">
                <div class="product__img"><img itemprop="image" src="img/product-2.jpg" alt=""></div>
                <div class="product__content">
                    <div class="product__title" itemprop="name">Далом СБО</div>
                    <meta itemprop="description" content="Качество очистки стоков — 98% оптимальное решение для постоянного проживания за городом">
                    <div class="product__descr">Качество очистки стоков — 98% оптимальное решение для постоянного проживания за городом</div>
                    <a href="#" itemprop="url" class="product__btm main-btn__min">подробнее</a>
                </div>
            </div>
            <div class="product__elem product__elem--video">
                <div class="product__mane">Узнать больше<br>про септики</div>
                <a href="#"><img src="img/icon/play.svg" alt=""></a>
            </div>
            <div class="product__elem">
                <div class="product__img"><img itemprop="image" src="img/product-3.png" alt=""></div>
                <div class="product__content">
                    <div class="product__title" itemprop="name">Колос</div>
                    <meta itemprop="description" content="Качество очистки стоков — 98% оптимальное решение для постоянного проживания за городом">
                    <div class="product__descr">Качество очистки стоков — 98% оптимальное решение для постоянного проживания за городом</div>
                    <a href="#" itemprop="url" class="product__btm main-btn__min">подробнее</a>
                </div>
            </div>
            <div class="product__elem">
                <div class="product__img"><img itemprop="image" src="img/product-4.png" alt=""></div>
                <div class="product__content">
                    <div class="product__title" itemprop="name">Колос Pro</div>
                    <div class="product__marc">Скоро в продаже</div>
                    <meta itemprop="description" content="Качество очистки стоков — 98% оптимальное решение для постоянного проживания за городом">
                    <div class="product__descr">Качество очистки стоков — 98% оптимальное решение для постоянного проживания за городом</div>
                    <a href="#" itemprop="url" class="product__btm main-btn__min">подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>