<section class="heder-banner">
    <div class="heder-banner__banner">
        <img class="el-decor-cust" src="img/el-4.png" alt="">
        <div class="container heder-banner__container">
            <img class="el-decor" src="img/el.png" alt="">
            
            <div class="heder-banner__content">
                <img class="heder-banner__decor" src="img/decor/dec-4.svg" alt="">
                <h1 class="heder-banner__title">Очистные сооружения Далос</h1>
                <p class="heder-banner__descr">Оптимальное инженерное решение для дома и дачи, не подключенных к общей канализации.</p>
                <a href="#" class="heder-banner__btn main-btn">получить консультацию</a>
            </div>
            <div class="heder-banner__slider">
                <div class="heder-banner__slider-shadow"></div>

                <div id="main-slider" class="heder-banner__slider-track owl-carousel owl-theme">
                    <div class="heder-banner__slider-item">
                        <div class="heder-banner__slider-decor"></div>
                        <div class="heder-banner__slider-name">СБО Далос</div>
                        <div class="heder-banner__slider-img">
                            <img src="img/slider-1.png" alt="">
                        </div>
                    </div>
                    <div class="heder-banner__slider-item">
                        <div class="heder-banner__slider-decor"></div>
                        <div class="heder-banner__slider-name">СБО Далос</div>
                        <div class="heder-banner__slider-img">
                            <img src="img/slider-1.png" alt="">
                        </div>
                    </div>
                    <div class="heder-banner__slider-item">
                        <div class="heder-banner__slider-decor"></div>
                        <div class="heder-banner__slider-name">СБО Далос</div>
                        <div class="heder-banner__slider-img">
                            <img src="img/slider-1.png" alt="">
                        </div>
                    </div>
                    <div class="heder-banner__slider-item">
                        <div class="heder-banner__slider-decor"></div>
                        <div class="heder-banner__slider-name">СБО Далос</div>
                        <div class="heder-banner__slider-img">
                            <img src="img/slider-1.png" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>