<section class="description">
    <div class="description__container container">
        <div class="description__text">
            <h2 class="main-title description__title">Станция биологической очистки</h2>
            <div class="descriprion-mob">
                <img class="descriprion__decor" src="img/decor/dec-5.svg" alt="">
                <img class="descriprion__vector-mob" src="img/vactor-mini.png" alt="">
            </div>
            <p><span class="strong">Станция биологической очистки</span> — оптимальное инженерное решение для домовладений, не подключенных к общей канализации. СБО минимизирует ваше участие и денежные вложения в решение бытовых вопросов этого плана, а прослужит много лет.</p>
            <p>Установка автономной канализации полностью энергонезависима, работает бесшумно. Она даст возможность:
            </p>
            <ul class="strong content-list">
                <li>исключить из строки расходов услуги ассенизаторов;</li>
                <li>служит улучшению экологической обстановки;</li>
                <li>не влияет на эстетическую привлекательность участка</li>
            </ul>
            <p>Современному человеку тяжело отказываться от благ цивилизации и деревенская романтика не каждому по душе. Теперь в этом нет необходимости: можно принимать ванну и душ, подключить стиральную и посудомоечную машину. Установка септика в Санкт-Петербурге и Ленинградской обл. даст возможность везде чувствовать себя комфортно.</p>
        </div>
        <div class="description__image">
            <img class="description__vector" src="img/vector.png" alt="">
            <img class="description__img" src="img/description-img.png" alt="">
        </div>
    </div>
</section>