<footer class="footer">
    <div class="container footer__container">
        <ul class="footer__menu" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
            <li><a itemprop="url" href="#">О компании</a></li>
            <li><a itemprop="url" href="#">СБО Далос</a></li>
            <li><a itemprop="url" href="#">СБО Колос</a></li>
            <li><a itemprop="url" href="#">Септики</a></li>
            <li><a itemprop="url" href="#">Дилеры</a></li>
            <li><a itemprop="url" href="#">Контакты</a></li>
        </ul>
        <div class="footer__contacts">
            <div class="contacts__item">
                <div class="contacts__name">
                    <div class="contacts__icon"><img src="img/icon/footer-mail.svg" alt=""></div>
                    <div class="contacts__title">Написать письмо</div>
                </div>
                <div class="contacts__content">
                    <a href="mail:info@dalosplast.ru">info@dalosplast.ru</a>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts__name">
                    <div class="contacts__icon"><img src="img/icon/footer-phone.svg" alt=""></div>
                    <div class="contacts__title">Позвонить</div>
                </div>
                <div class="contacts__content">
                    <a href="tel:+78122009543">+7 812 200 95 43</a>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts__name">
                    <div class="contacts__icon"><img src="img/icon/footer-mark.svg" alt=""></div>
                    <div class="contacts__title">Адрес</div>
                </div>
                <div class="contacts__content">
                    <span>РФ, Ленинградская обл., г. Гатчина,<br> промзона 2, 120-й Гатчинской Дивизии, 1Д</span>
                </div>
            </div>


            <div class="social footer-nav-social">
                <a href=""><img src="img/icon/footer-vk.svg" alt=""></a>
                <a href=""><img src="img/icon/footer-youtube.svg" alt=""></a>
            </div>


        </div>
        <div class="footer__cope">ООО ГК «Марипласт». Все права защищены. Политика конфиденциальности</div>
        <img class="footer__decor" src="img/decor/dec-11.svg" alt="">
    </div>
</footer>


<script src="js/jq.js"></script> 
<script src="js/jq-m.js"></script> 
<script src="js/owl.carousel.min.js"></script>
<script src="js/fancybox.js"></script>


<script src="js/script.js"></script>