<section class="heder-banner mini-header">
    <div 
    class="heder-banner__banner mini-header__banner"
    style="background-image: url('img/mini-header.jpg');"
    >
        <img class="el-decor-cust mini-header__cust" src="img/el-4.png" alt="">
        <div class="container heder-banner__container mini-header__container">
            
            <div class="heder-banner__content mini-header__content">
                <h1 class="heder-banner__title mini-header__title">Наши диллеры</h1>
            </div>
            
        </div>
    </div>
</section>