<section class="advantage">

    <div class="container advantage__decor-container">
        <div class="decor-line__item decor-line__item--6">
            <img src="img/decor/dec-6.svg" alt="">
        </div>
        <div class="decor-line__item decor-line__item--7">
            <img src="img/decor/dec-7.svg" alt="">
        </div>
        <div class="decor-line__item decor-line__item--8">
            <img src="img/decor/dec-8.svg" alt="">
        </div>
        <div class="decor-line__item decor-line__item--9">
            <img src="img/decor/dec-9.svg" alt="">
        </div>
        <div class="decor-line advantage__line">
        </div>
    </div>
    

    <div class="advantage__container container">
        <div class="advantage__namber">
            <h2 class="advantage__title main-title">
                6 причин работать с нами
            </h2>
            <img src="img/advantage.png" alt="" class="advantage__img">
        </div>
        <div class="advantage__wrap-items">
            <div class="advantage__item">
                <div class="advantage__icon">
                    <img src="img/icon/adv-1.svg" alt="">
                </div>
                <div class="advantage__name">Производители</div>
                <div class="advantage__descr">Несем полную гарантийную ответственность за продукт. Предоставляем полное сопровождение и консультации</div>
            </div>
            <div class="advantage__item">
                <div class="advantage__icon">
                    <img src="img/icon/adv-2.svg" alt="">
                </div>
                <div class="advantage__name">Комплексное благоустройство</div>
                <div class="advantage__descr">Все можно сделать в одном месте (канализация, водоотведение, скважина, сантехника, ландшафтный дизайн)</div>
            </div>
            <div class="advantage__item">
                <div class="advantage__icon">
                    <img src="img/icon/adv-3.svg" alt="">
                </div>
                <div class="advantage__name">Сроки</div>
                <div class="advantage__descr">Вся продукция на складе в наличии. Сможем организовать доставку и монтаж на следующий день после обращения. </div>
            </div>
            <div class="advantage__item">
                <div class="advantage__icon">
                    <img src="img/icon/adv-4.svg" alt="">
                </div>
                <div class="advantage__name">Гарантия</div>
                <div class="advantage__descr">Мы предоставляем гарантия 10 лет. Срок службы нашего оборудования не менее 40 лет</div>
            </div>
            <div class="advantage__item">
                <div class="advantage__icon">
                    <img src="img/icon/adv-5.svg" alt="">
                </div>
                <div class="advantage__name">Качество</div>
                <div class="advantage__descr">На каждом этапе отделом технического контроля проводится приемка готовности и проверка изделия перед отправкой</div>
            </div>
            <div class="advantage__item">
                <div class="advantage__icon">
                    <img src="img/icon/adv-6.svg" alt="">
                </div>
                <div class="advantage__name">Опыт и компетенция</div>
                <div class="advantage__descr">Более 8 лет специализируемся в нише очистных сооружений. Реализовали 254 проекта для различных организаций</div>
            </div>
        </div>
    </div>
</section>