<section class="featch">
    <div class="container featch__container">
        <div class="featch__wrap">
            <div class="featch__item">
                <div class="featch__icon"><img src="img/icon/fitch-1.svg" alt=""></div>
                <div class="featch__descr">Полная<br>автономность</div>
            </div>
            <div class="featch__item">
                <div class="featch__icon"><img src="img/icon/fitch-2.svg" alt=""></div>
                <div class="featch__descr">Первичные инженерные<br>термопласты</div>
            </div>
            <div class="featch__item">
                <div class="featch__icon"><img src="img/icon/fitch-3.svg" alt=""></div>
                <div class="featch__descr">Становится в<br>любой грунт</div>
            </div>
            <div class="featch__item">
                <div class="featch__icon"><img src="img/icon/fitch-4.svg" alt=""></div>
                <div class="featch__descr">98% степень<br>очистки стоков</div>
            </div>
        </div>
    </div>
</section>