.form-decor{
    position: relative;
    // overflow: hidden;

}

.form__line{
    right: auto;
    left: 1503px;
    height: 1776px;
    top: 0;
    transform: skewX(43.9deg);
    width: 469px;
    z-index: 0;
}
.decor-line__item--13{
    left: 1328px;
    top: 733px;
}
.decor-line__item--12{
    left: 1179px;
    top: 79px;
}