<section class="images-block">
    <div class="images-block__wrap images-block__wrap--left">
        <div class="images-block__flex">
            <a href="img/main-img/img-1.jpg" data-fancybox="images" data-caption="DALOS">
                <img src="img/main-img/img-1.jpg" alt="">
            </a>
        </div>
        <div class="images-block__flex">
            <a href="img/main-img/img-2.jpg" data-fancybox="images" data-caption="DALOS">
                <img src="img/main-img/img-2.jpg" alt="">
            </a>
            <a href="img/main-img/img-3.jpg" data-fancybox="images" data-caption="DALOS">
                <img src="img/main-img/img-3.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="images-block__wrap images-block__wrap--center">
        <div class="images-block__flex">
            <a href="img/main-img/img-4.jpg" data-fancybox="images" data-caption="DALOS">
                <img src="img/main-img/img-4.jpg" alt="">
            </a>
            <a href="img/main-img/img-5.jpg" data-fancybox="images" data-caption="DALOS">
                <img src="img/main-img/img-5.jpg" alt="">
            </a>
        </div>
        <div class="images-block__flex">
            <a href="img/main-img/img-6.jpg" data-fancybox="images" data-caption="DALOS">
                <img src="img/main-img/img-6.jpg" alt="">
            </a>
            <a href="img/main-img/img-7.jpg" data-fancybox="images" data-caption="DALOS">
                <img src="img/main-img/img-7.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="images-block__wrap images-block__wrap--right">
        <a href="img/main-img/img-8.jpg" data-fancybox="images" data-caption="DALOS">
            <img src="img/main-img/img-8.jpg" alt="">
        </a>
    </div>
</section>