<section class="main-form">
    <img class="main-form__decor" src="img/el-2.png" alt="">
    <div class="container">
        <div class="main-form__wrap">
            <img class="main-form__fon-img" src="img/img-form.png" alt="">
            <img class="main-form__sercle" src="img/sercle.png" alt="">
            <img class="main-form__fon-el" src="img/el-3.png" alt="">
            <div class="main-form__form">
                <div class="main-form__title main-title">
                    подберем лучшее предложение для вас
                </div>
                <div class="main-form__descr">Заполните форму и менеджер свяжется с вами в течение 10 минут</div>
                <form action="mail.php">
                    <div class="main-form__field">
                        <div class="main-form__field-name">
                            <div class="main-form__icon"><img src="img/icon/input-name.svg" alt=""></div>
                            <div class="main-form__name">Введите ваше имя</div>
                        </div>
                        <input class="main-input main-form__input" name="name" type="text">
                    </div>
                    <div class="main-form__field">
                        <div class="main-form__field-name">
                            <div class="main-form__icon"><img src="img/icon/input-phone.svg" alt=""></div>
                            <div class="main-form__name">Ваш номер телефона</div>
                        </div>
                        <input class="main-input main-form__input" name="phone" type="text" id="phone">
                    </div>
                    <button class="main-form__btn main-btn">получить консультацию</button>
                    <label class="checkbox">
                        <input type="checkbox" name="verifecal">
                        <span>Вы соглашаетесь с условиями обработки персональных данных <a href="#">(ознакомиться)</a></span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</section>